src/main/mule/cloudhub2-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7489378d-da1f-4833-acf4-bf25cfff6e65" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudhub2-demo-apiFlow" doc:id="74c23e26-c0f5-42ae-bef3-10ffee95de36" >
		<http:listener doc:name="Listener" doc:id="5ffba615-a968-4fd4-8398-59217426595e" config-ref="HTTP_Listener_config" path="/api/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="904f7d1a-45bf-431c-9792-750ee13212a5" message="Request Start Info Logger - #[message]"/>
		<ee:transform doc:name="Transform Message" doc:id="61fb7c30-b140-4d7e-8c39-26787e56568e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "welcome to cloudhub 2.0 world !!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="854782e1-1cdc-4b2e-8d85-3aa99a9c7698" message="Demo api logging end - #[message] and payload is #[payload]"/>
	</flow>
</mule>
